---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro'
import Section from '../components/Section.astro'
import ChargeSection from '../components/ChargeSection.astro'
---

<Layout  title="Welcome to Tesla-Clone." >
	<LandingHeader/>
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<div class="snap-center">
			<Section/>
		</div>
		<div class="snap-center">
			<ChargeSection/>
		</div>
	</main>
</Layout>

