<section class="bg-black h-screen w-screen text-center relative  overflow-hidden ">
    <div class="relative z-30 h-full flex flex-col">
        <header >
            <h2 class="text-white pt-40 text-4xl text-[40px] font-medium">
                Model Y
            </h2>
            <p class="text-white text-xm underline">Programe una prueba de conduccíon hoy mismo</p>
        </header>
        <footer class=" flex flex-grow flex-col justify-end pb-20">
            <div class="flex justify-center gap-x-4">
                <a class="text-white text-sm border-[3px]  border-white rounded px-8 py-2 hover:bg-white
                hover:text-black hover:border-white transition-colors duration-300 " href="#">
                Ver inventario
                </a>
                <a class="text-white text-sm border-[3px] border-white rounded px-8 py-2 hover:bg-white
                hover:text-black hover:border-white transition-colors duration-300 " href="#">
                Pedido Persoanlisado
                </a>
            </div>
            
        </footer>
    </div>
    
    <div class="absolute top-0 h-full w-full">
        <img src="/model-y.avif" alt="Model Y" class="object-cover object-center scale-125 h-full w-full " ></img>
    </div>
    
</section>