<section class="bg-black h-screen w-screen text-center relative  overflow-hidden ">
    <div class="relative z-30 h-full flex flex-col">
        <header >
            <h2 class="text-white pt-40 text-4xl text-[40px] font-medium">
            Disfrute de Tesla
            </h2>
            <p class="text-white text-xm">Programe una prueba de conduccíon hoy mismo</p>
        </header>
        <footer class=" flex flex-grow flex-col justify-end pb-20">
            <div>
                <a class="text-white text-sm border-[3px] bg-white/5 backdrop-blur-xl border-white rounded px-8 py-2 hover:bg-white
                hover:text-black transition-colors duration-300 " href="#">
                Prueba de conduccíon
                </a>
            </div>
            
        </footer>
    </div>
    
    <div class="absolute top-0 h-full w-full">
        <video class="object-cover object-center scale-125 h-full w-full " autoplay muted loop src="/public_video.webm" ></video>
    </div>
    
</section>